@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Titles, items hovered on and graphs on light panels*/
  --primary-color: #078ECD;
  /*Light panels background and styling color in dark panels*/
  --secondary-color: #e8f4ff;
  /*Buttons and searchbars*/
  --components-color: #F5F5F5;
  /*Borders*/
  --border-color: #BBBBBB;
}


/* Hide scrollbar for IE, Edge, and Firefox */
html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  /* creates padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

@keyframes moveUp {
  0% {
    background-position: top;
  }

  100% {
    background-position: bottom;
  }
}

.animated-bg {
  background-image: url('/src/assets/blue_background_abstract.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  animation: moveUp 20s linear infinite;
  background-color: rgba(255, 255, 255, 0.6);
  /* Light overlay */

}